

.wrap-top{
  display:flex;
  height: 200px;
  margin:auto;
  margin-top:80px;
  flex-flow: row nowrap;
  background-color: rgb(245, 241, 241);
  width:90%;
}

.foto-port {
  flex-basis: 16%;
  height: 197px;
  width: 203px;
  border:none;
  float:right;
  margin-left:20%;
  border-radius: 100px;
}

.h1-div-home {
  flex-basis: 85%;
  padding: 50px;
  color:rgb(231, 157, 18);
  font-size:0.8em;
}

.center-wrap {
  height: 350px;
  margin-top: 160px;
}

.webdev-img {
  display:block;
  border:none;
  margin:auto;
  padding: 35px;
  height: 150px;
  width:200px;
}

.btn-div {
  text-align:center;
  }

.btn-home{
  border-radius: 5px;
  border: 1px solid #ca8e03;
  padding: 0.7em 1.5em;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin: 0 1em;
  margin-bottom: 1em;
  min-width: 10em;
  color:black;
}

.btn-home:hover {
  background-color:rgb(214, 199, 199);
  color:white;
}

